<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Windows"/>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<connectionStrings>
		<add name="Access" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Northwind.mdb"/>
		<add name="SqlExpress" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;Database=codegenerator.qsh.es_e4ebecbc-d24a-4448-9117-a7ed142f3487;AttachDBFilename=|DataDirectory|Northwind.mdf"/>
	</connectionStrings>
	<appSettings>
		<add key="Connection" value="Access"/>
	</appSettings>
</configuration>
